<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script
      src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js"
      defer
      init
    ></script>
    <script type="text/javascript">
      window.tailwind.config = {
        darkMode: ["class"],
        theme: {
          extend: {
            colors: {
              border: "hsl(var(--border))",
              input: "hsl(var(--input))",
              ring: "hsl(var(--ring))",
              background: "hsl(var(--background))",
              foreground: "hsl(var(--foreground))",
              primary: {
                DEFAULT: "hsl(var(--primary))",
                foreground: "hsl(var(--primary-foreground))",
              },
              secondary: {
                DEFAULT: "hsl(var(--secondary))",
                foreground: "hsl(var(--secondary-foreground))",
              },
              destructive: {
                DEFAULT: "hsl(var(--destructive))",
                foreground: "hsl(var(--destructive-foreground))",
              },
              muted: {
                DEFAULT: "hsl(var(--muted))",
                foreground: "hsl(var(--muted-foreground))",
              },
              accent: {
                DEFAULT: "hsl(var(--accent))",
                foreground: "hsl(var(--accent-foreground))",
              },
              popover: {
                DEFAULT: "hsl(var(--popover))",
                foreground: "hsl(var(--popover-foreground))",
              },
              card: {
                DEFAULT: "hsl(var(--card))",
                foreground: "hsl(var(--card-foreground))",
              },
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer base {
        :root {
          --background: 0 0% 100%;
          --foreground: 240 10% 3.9%;
          --card: 0 0% 100%;
          --card-foreground: 240 10% 3.9%;
          --popover: 0 0% 100%;
          --popover-foreground: 240 10% 3.9%;
          --primary: 240 5.9% 10%;
          --primary-foreground: 0 0% 98%;
          --secondary: 240 4.8% 95.9%;
          --secondary-foreground: 240 5.9% 10%;
          --muted: 240 4.8% 95.9%;
          --muted-foreground: 240 3.8% 46.1%;
          --accent: 240 4.8% 95.9%;
          --accent-foreground: 240 5.9% 10%;
          --destructive: 0 84.2% 60.2%;
          --destructive-foreground: 0 0% 98%;
          --border: 240 5.9% 90%;
          --input: 240 5.9% 90%;
          --ring: 240 5.9% 10%;
          --radius: 0.5rem;
        }
        .dark {
          --background: 240 10% 3.9%;
          --foreground: 0 0% 98%;
          --card: 240 10% 3.9%;
          --card-foreground: 0 0% 98%;
          --popover: 240 10% 3.9%;
          --popover-foreground: 0 0% 98%;
          --primary: 0 0% 98%;
          --primary-foreground: 240 5.9% 10%;
          --secondary: 240 3.7% 15.9%;
          --secondary-foreground: 0 0% 98%;
          --muted: 240 3.7% 15.9%;
          --muted-foreground: 240 5% 64.9%;
          --accent: 240 3.7% 15.9%;
          --accent-foreground: 0 0% 98%;
          --destructive: 0 62.8% 30.6%;
          --destructive-foreground: 0 0% 98%;
          --border: 240 3.7% 15.9%;
          --input: 240 3.7% 15.9%;
          --ring: 240 4.9% 83.9%;
        }
      }
    </style>
  </head>
  <body class="bg-gray-800">
    <div class="container mx-auto p-4 mb-8">
      <a
        href="/"
        class="shrink-0 bg-white text-gray-800 px-6 py-2 rounded-full flex items-center hover:bg-emerald-200 transition duration-300 ease-in-out text-lg md:text-xl font-semibold mx-8 my-2"
      >
        <i class="fas fa-chevron-left mr-2"></i>{{ site_name }}
        <img src="{{site_logo}}" style="height: 30px" />
      </a>
      <h2 class="text-5xl font-bold mb-4 mt-7 text-secondary text-center">
        我的作品
      </h2>
      <div class="flex justify-between mb-4">
        <button
          class="bg-white text-gray-800 font-bold px-4 py-2 rounded-full hover:bg-emerald-200 transition duration-300 ease-in-out ml-auto"
          onclick="openModal('add-game-modal');"
        >
          發布新遊戲
        </button>
      </div>
      <ul class="grid grid-cols-1 gap-4 mb-8">
        {% for game in games %}
        <li
          class="bg-white p-4 shadow-md rounded-lg hover:bg-emerald-200 transition duration-300 ease-in-out cursor-pointer"
          data-game-id="{{ game.id }}"
          onclick="window.location.href='/game/{{ game.id }}'"
        >
          <h3 class="text-lg font-bold">{{ game.name }}</h3>
          <p>{{ game.description }}</p>
          <div class="flex justify-end">
            <button
              class="bg-destructive text-destructive-foreground hover:bg-destructive/80 mr-1 px-1"
            >
              刪除
            </button>
            <button class="bg-primary text-white hover:bg-primary/80 px-1">
              編輯
            </button>
          </div>
        </li>
        {% endfor %}
      </ul>

      <div
        id="add-game-modal"
        class="fixed inset-0 bg-zinc-700 bg-opacity-75 overflow-y-auto hidden"
      >
        <div
          class="bg-emerald-600 p-4 mx-4 md:p-6 lg:mx-6 xl:p-6 2xl:mx-8 my-4 border"
        >
          <h1 class="text-3xl font-bold mb-4 mt-3 text-secondary text-center">
            發布新遊戲
          </h1>
          <form onsubmit="event.preventDefault(); addGame();">
            <label for="name" class="block text-md font-black mb-2"
              >遊戲名稱：</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              required
            />
            <label for="description" class="block text-md font-black mb-2 mt-5"
              >遊戲說明：</label
            >
            <textarea
              id="description"
              name="description"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              required
            ></textarea>
            <label for="image" class="block text-md font-black mb-2 mt-5"
              >遊戲封面圖：</label
            >
            <input
              type="file"
              id="image"
              name="image"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
            />
            <label for="entry-file" class="block text-md font-black mb-2 mt-5"
              >遊戲入口檔（HTML）：</label
            >
            <input
              type="file"
              id="entry-file"
              name="file"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              required
            />
            <label for="game-files" class="block text-md font-black mb-2 mt-5"
              >遊戲依賴檔（JS、CSS 等）：</label
            >
            <input
              type="file"
              id="game-files"
              name="game-files"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              multiple
            />
            <button
              class="bg-primary text-white px-1 mt-8 hover:bg-primary/80"
              id="add-game-submit"
            >
              Submit
            </button>
            <button
              class="bg-white hover:bg-gray-300 text-gray-800 font-semibold px-1 border border-gray-800"
              id="add-game-cancel"
            >
              取消
            </button>
          </form>
        </div>
      </div>

      <div
        id="edit-game-modal"
        class="fixed inset-0 bg-zinc-700 bg-opacity-75 overflow-y-auto hidden"
      >
        <div
          class="bg-blue-500 p-4 mx-4 md:p-6 lg:mx-6 xl:p-6 2xl:mx-8 my-4 border"
        >
          <h1 class="text-3xl font-bold mb-4 mt-3 text-secondary text-center">
            編輯遊戲
          </h1>
          <form onsubmit="event.preventDefault(); editGame();">
            <label for="edit-name" class="block text-md font-black mb-2"
              >遊戲名稱：</label
            >
            <input
              type="text"
              id="edit-name"
              name="name"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              required
            />
            <label
              for="edit-description"
              class="block text-md font-black mb-2 mt-5"
              >遊戲說明：</label
            >
            <textarea
              id="edit-description"
              name="description"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              required
            ></textarea>
            <label for="edit-image" class="block text-md font-black mb-2 mt-5"
              >遊戲封面圖：</label
            >
            <input
              type="file"
              id="edit-image"
              name="image"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
            />
            <label
              for="edit-entry-file"
              class="block text-md font-black mb-2 mt-5"
              >遊戲入口檔（HTML）：</label
            >
            <input
              type="file"
              id="edit-entry-file"
              name="file"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              required
            />
            <label
              for="edit-game-files"
              class="block text-md font-black mb-2 mt-5"
              >遊戲依賴檔（JS、CSS 等）：</label
            >
            <input
              type="file"
              id="edit-game-files"
              name="game-files"
              class="block w-full p-2 bg-input text-input-foreground rounded-lg focus:ring-primary transition duration-300 ease-in-out"
              multiple
            />
            <button
              class="bg-primary text-white px-1 mt-8 hover:bg-primary/80"
              id="edit-game-submit"
            >
              Submit
            </button>
            <button
              class="bg-white hover:bg-gray-300 text-gray-800 font-semibold px-1 border border-gray-800"
              id="edit-game-cancel"
            >
              取消
            </button>
          </form>
        </div>
      </div>

      <div
        id="delete-game-modal"
        class="fixed inset-0 bg-zinc-700 bg-opacity-75 overflow-y-auto hidden flex items-center justify-center"
      >
        <div
          class="bg-white rounded-lg shadow-lg p-6 mx-4 md:p-8 lg:mx-6 xl:p-10 2xl:mx-8 my-4 border"
        >
          <h1 class="text-2xl font-bold mb-4 text-destructive text-center">
            確認刪除遊戲
          </h1>
          <p class="text-gray-700 text-center font-black mb-6">
            您確定要刪除這個遊戲嗎？此操作不可逆。
          </p>
          <div class="flex justify-center">
            <button
              class="bg-destructive text-white py-2 px-4 rounded-lg mr-2 hover:bg-destructive/80 transition duration-300 ease-in-out"
              onclick="confirmDeleteGame()"
            >
              確認
            </button>
            <button
              class="bg-gray-200 text-gray-700 font-black py-2 px-4 rounded-lg hover:bg-gray-300 transition duration-300 ease-in-out"
              onclick="closeModal('delete-game-modal')"
            >
              取消
            </button>
          </div>
        </div>
      </div>

      <script>
        function openModal(modal, game = null) {
          document.getElementById(modal).classList.remove("hidden");
          if (game) {
            document.getElementById(modal).dataset.gameId = game;
          }
        }
        function closeModal(modal) {
          document.getElementById(modal).classList.add("hidden");
        }
        async function confirmDeleteGame() {
          // 在這裡添加刪除遊戲的邏輯
          closeModal("delete-game-modal");
          const result = await fetch(`/game/${gameId}`, {
            method: "DELETE",
          });
        }

        function deleteGame(gameId) {
          console.log(`Deleting game with ID: ${gameId}`);
          // 在這裡添加刪除遊戲的邏輯
        }

        document.addEventListener("DOMContentLoaded", function () {
          const deleteButtons = document.querySelectorAll(".bg-destructive");
          const editButtons = document.querySelectorAll(".bg-primary");
          const editSubmitBtn = document.getElementById("edit-game-submit");
          const editCancelBtn = document.getElementById("edit-game-cancel");
          const addSubmitBtn = document.getElementById("add-game-submit");
          const addCancelBtn = document.getElementById("add-game-cancel");
          const addGameForm = document.querySelector("#add-game-modal form");
          const editGameForm = document.querySelector("#edit-game-modal form");

          deleteButtons.forEach((button) => {
            button.addEventListener("click", function (event) {
              event.stopPropagation();
              const gameId = this.parentElement.parentElement.dataset.gameId;
              openModal("delete-game-modal", gameId);
            });
          });

          editButtons.forEach((button) => {
            button.addEventListener("click", function (event) {
              event.stopPropagation();
              const gameId = this.parentElement.parentElement.dataset.gameId;
              openModal("edit-game-modal", gameId);
            });
          });

          
          editSubmitBtn.addEventListener("click", function () {
            editGame(gameId);
          });
          editCancelBtn.addEventListener("click", function () {
            // 清空表單
            editGameForm.reset();
            closeModal("edit-game-modal");
          });

          addSubmitBtn.addEventListener("click", function () {
            addGame();
          });

          addCancelBtn.addEventListener("click", function () {
            // 清空表單
            addGameForm.reset();
            closeModal("add-game-modal");
          });
        });
      </script>
    </div>
  </body>
</html>
